/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --header-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --footer-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --header-logo-color: #DB00FF;
  --footer-logo-color: #DB00FF;
  --main-font-family: 'IBM Plex mono', monospace;
  --main-font-size: 18px;
  --main-line-height: 23.4px;
  --bg-color-light: #db00ff;
  --bg-color-dark: #000028;
  --nav-color: #ff0070;
  --main-text-color: #f1b2ce;
  --section-heading-color: #ff0070;
  --cover-text-shadow: #FF0070;
  --link-shadow-color: #ff0070;
  --subtitle-color: #000028;
}

@media (width <= 375px) {
  :root {
    --header-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --footer-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
