/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {

    background-image: url(../images/cover-image-light.png);
    background-color: var(--bg-color-light);
 
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
 
  .header__theme-menu-button {
    color: #353430;
    border: 1px solid transparent;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }

  .header__theme-menu-button_active {
    border: 1px solid #353430;
  }

  .header__theme-menu-button:focus-visible {
    outline: none;
    border-block-end: 1px solid #353430;
  }

  .decoration-rec {
    display: none;
  }

  .decorated-zone::before {
    border-block-start: 1px solid #353430;
    border-inline-end: 1px solid #353430;
  }

  .decorated-zone::after {
    border-block-end: 1px solid #353430;
    border-inline-start: 1px solid #353430;
  }

  .cover__title {
    color: #FFC2E6;
  }

  .title-decor {
    background: #FF8DCB;
  }

  .subtitle {
    color: #353430;
  }

  .main__title {
    color: #353430;
  }

  .main__text {
    color: #353430;
  }

  .footer__title {
    color: #FFC2E6;
  }

  .links:hover {
    border-block-end: 1px solid #353430;
  }

  .links:focus-visible {
    outline: none;
    border: 1px solid #353430;
  }
}


/* Если предпочтение - светлая тема, то раскоментить здесь и закоментить @media в dark.css */

/* @media (prefers-color-scheme: light) {

  .page {
    background-image: url(/src/images/cover-image-light.png);
  }

  .header__theme-menu-button {
    color: #353430;
    border: 1px solid transparent;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }

  .header__theme-menu-button_active {
    border: 1px solid #353430;
  }

  .header__theme-menu-button:focus-visible {
    outline: none;
    border-block-end: 1px solid #353430;
  }

  .decoration-rec {
    display: none;
  }

  .decorated-zone::before {
    border-block-start: 1px solid #353430;
    border-inline-end: 1px solid #353430;
  }

  .decorated-zone::after {
    border-block-end: 1px solid #353430;
    border-inline-start: 1px solid #353430;
  }

  .cover__title {
    color: #FFC2E6;
  }

  .title-decor {
    background: #FF8DCB;
  }

  .subtitle {
    color: #353430;
  }

  .main__title {
    color: #353430;
  }

  .main__text {
    color: #353430;
  }

  .footer__title {
    color: #FFC2E6;
  }

  .links:hover {
    border-block-end: 1px solid #353430;
  }

  .links:focus-visible {
    outline: none;
    border: 1px solid #353430;
  }
} */