/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(/src/images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Navigation + decoration*/

.header {
  position: relative;
  min-height: 768px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-inline-start: 20px;
  inset-block-end: 20px;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid #ff0070;
  border-inline-start: 1px solid #ff0070;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 20px;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid #ff0070;
  border-inline-end: 1px solid #ff0070;
}

.decoration-rec {
  position: absolute;
  right: 48px;
  top: 20px;
  color: #ff0070;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  text-transform: uppercase;
  line-height: 25px;
}

.decoration-rec::after {
  content: '';
  position: absolute;
  left: 42px;
  top: 8px;
  width: 9px;
  height: 9px;
  background-color: #ff0070;
  border-radius: 50%;
  box-shadow: 0 0 10px #ff0070;
  margin-inline-start: 1px;
}

.header__theme-menu {
  padding-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  color: #ff0070;
  text-align: center;
  font-family: var(--main-font-family);
  text-transform: lowercase;
  font-size: var(--main-font-size);
  line-height: 18px;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button_active {
  border: 1px solid #ff0070;
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid #ff0070;
}

/* Title cover */

.cover__title_container {
  margin-block-start: 274px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  row-gap: 114px;
}

.cover__title {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 1;
  color: #db00ff;
  text-shadow: 4px 4px 0 #ff0070;
  font-family: var(--main-font-family);
  font-size: var(--header-logo-size);
  font-weight: 700;
  line-height: 82.5%;
}

.title-decor {
  background-color: #ff0070;
}

.subtitle__container {
  margin-inline-end: 20px;
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
}

.subtitle {
  color: #000028;
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

/* Main */

.main {
  margin-block-start: 60px;
  /* margin-block-start: 278px;  */
  padding-inline: 20px;
  display: grid;
  gap: 80px;
}

.main__title {
  color: #ff0070;
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.main__text {
  color: #f1b2ce;
  font-family: var(--main-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.links {
  text-shadow: 1px 2px 0 #ff0070;
}

.links:hover {
  border-block-end: 1px solid #f1b2ce;
}

.links:focus-visible {
  outline: none;
  border: 1px solid #f1b2ce;
}

.links:focus {
  outline: none;
}

/* Main sections-grid */
/* 1 */

.why.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.why.section__text {
  display: grid;
  gap: 10px;
}

/* 2 */

.what.main__title_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-block-end: 20px;
}

.what.section-texts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 20px;
}

.what.section__text {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

/* 3 */

.how.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.font-weight {
  font-weight: 400;
}

/* Pictures */

.pictures__section {
  display: grid;
  gap: 20px;
}

.pictures__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.image:first-of-type {
  grid-column: span 2;
}

.image:nth-of-type(2) {
  grid-row: span 2;
}

.image:nth-of-type(3) {
  grid-row: span 2;
}

.image:last-of-type {
  grid-column: span 2;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
  margin-block-start: 60px;
}

.footer__title {
  color: #db00ff;
  text-shadow: 2px 2px 0 #ff0070;
  font-family: var(--main-font-family);
  font-size: var(--footer-logo-size);
  font-weight: 700;
  line-height: 82.5%;
}

.footer.decorated-zone {
  position: relative;
}

/* Media для планшетов */

@media (width <= 768px) {
  .header {
    min-height: 1024px;
  }

  .footer {
    min-height: 1024px;
  }

  .header__theme-menu {
    padding-inline-end: 20px;
    padding-block-start: 195px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 13px;
  }

  .decorated-zone::after {
    inset-block-start: 979px;
  }

  .footer.decorated-zone::after {
    inset-block-start: 978px;
  }

  .cover__title_container {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-rows: 1fr;
    margin-block-start: 179px;
    row-gap: 162px;
  }

  .cover__title {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 1;
  }

  .subtitle__container {
    margin-inline-end: 20px;
    display: grid;
    grid-column-start: 3;
    grid-column-end: 6;
  }

  .main {
    margin-block-start: 60px;
  }

  .what.main__title_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-block-end: 20px;
  }

  .what.section-texts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* Media для телефонов */

@media (width <= 376px) {
  .header {
    min-height: 668px;
  }

  .footer {
    min-height: 668px;
    margin-block-start: 40px;
  }

  .cover__title {
    font-size: var(--header-logo-size);
    padding-inline-start: 9px;
  }

  .footer__title {
    font-size: var(--footer-logo-size);
  }

  .cover__title_container {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-block-start: 179px;
    gap: 55px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin-block-start: 68px;
  }

  .subtitle__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
  }

  .header__theme-menu {
    padding-inline-end: 10px;
    padding-block-start: 75px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
  }

  .main {
    margin-block-start: 39px;
    padding-inline: 10px;
    gap: 50px;
  }

  .why.section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .what.main__title_container {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    margin-block-end: 20px;
  }

  .how.section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .pictures__section {
    display: grid;
    gap: 10px;
  }

  .pictures__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .image:first-of-type {
    grid-column: 1;
  }

  .image:nth-of-type(2) {
    grid-column: 1;
  }

  .image:nth-of-type(3) {
    grid-column: 1;
  }

  .image:nth-of-type(4) {
    grid-column: 1;
  }

  .image:last-of-type {
    grid-column: 1;
  }

  .decorated-zone::after {
    inset-block-start: 634px;
    inset-inline: 10px;
  }

  .decorated-zone::before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }

  .decoration-rec {
    right: 40px;
    top: 11px;
  }

  .footer.decorated-zone::before {
    inset-block-start: 13px;
  }

  .footer.decorated-zone::after {
    inset-block-start: 632px;
  }
}
